<!DOCTYPE html>
</html>
    <head>
        <title> CRUD Node.js-MySQL</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2>
           
           
            
            <table>
            <tr>
            <td> <a href="/">Home</a></td><td> <a href="/customers/editprofile">Edit Profile</a></td>
            <td><a href="/customers/add">Add Customer</a></td>
            <td align="right" colspan="5">
            
             
        
       <h2 align="right">Welcome to <%=username %></h2>
       
       
            </td>
            
            
            </tr>
            
            
            </table>
                        </div>
            <div class="page-container">
